<div class="container-fluid">

  <div class="custom-card">

    <div class="form-group">
      <input type="email"
             placeholder="Enter email address"
             class="form-control"
      />
    </div>

    <div class="form-group">
      <input type="password"
             placeholder="Enter password"
             class="form-control"
      />
    </div>

    <button class="btn btn-block btn-primary">Login</button>

    <p class="horizontal-line-text">
      <span>or</span>
    </p>

    <button class="btn btn-block google-sign-in" (click)="signInHandler()">
      <img [src]="'assets/images/google.svg'" alt="google"/>
      <span>Continue with Google</span>
    </button>

  </div>

</div>
